{% extends 'wafer/base.html' %}
{% load i18n %}

{% block content %}
{% if user.is_authenticated %}
  <div>
    <h2>
      Preferred tasks
      (<a href="{% url 'wafer_volunteer_update' user.username %}">{% trans "Update" %}</a>)
    </h2>
    {% if preferred_tasks %}
      {% regroup preferred_tasks by start|date as task_list %}
      {% include "wafer.volunteers/includes/task_list.html" with task_list=task_list accordion_id='preferred' %}
    {% else %}
      <p>{% trans "No available tasks" %}.</p>
    {% endif %}
  </div>
{% endif %}

<div>
  <h2>All available tasks</h2>
  {% if volunteers_needed %}
    {% regroup volunteers_needed by start|date as task_list %}
    {% include "wafer.volunteers/includes/task_list.html" with task_list=task_list accordion_id='all' %}
    {% else %}
      <p>{% trans "No available tasks" %}.</p>
    {% endif %}
</div>
{% endblock %}
