{% load i18n %}

<div id="accordion-{{ accordion_id }}">
  {% for day in task_list %}
    <div class="card">
      <div class="card-header" id="heading-{{accordion_id}}-{{forloop.counter}}">
        <h3 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-{{accordion_id}}-{{forloop.counter}}" aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}" aria-controls="collapse-{{accordion_id}}-{{forloop.counter}}">
            {{ day.grouper }}
          </button>
        </h3>
      </div>
      <div id="collapse-{{accordion_id}}-{{forloop.counter}}" class="collapse {% if forloop.first %}show{% endif %}" aria-labelledby="heading-{{accordion_id}}-{{forloop.counter}}" data-parent="#accordion-{{accordion_id}}">
        <div class="card-body">
          {% regroup day.list by schedule_item as schedule_item_tasks %}
          {% for schedule_item in schedule_item_tasks %}
            {% if schedule_item.grouper %}
              {# This is the group of tasks for a schedule_item #}
              {% with task=schedule_item.list|first %}
                <h5>
                  {% blocktrans with start_time=task.start|time end_time=task.end|time venue=task.get_venue %}
                    {{ start_time }} to {{ end_time }} in {{ venue }}
                  {% endblocktrans %}
                </h5>
              {% endwith %}
              <p>
                {% with schedule_item.grouper.get_url as url_ %}
                  {% if url_ %}
                    <a href="{{ url_ }}">
                  {% endif %}
                  {% with schedule_item.grouper.talk.get_authors_display_name as author %}
                    {% if author %}
                      {{ author }}:
                    {% endif %}
                  {% endwith %}
                  {{ schedule_item.grouper.get_title }}
                  {% if url_ %}
                    </a>
                  {% endif %}
                {% endwith %}
              </p>
            {% endif %}
            <table>
              <thead>
                <tr>
                  {% if not schedule_item.grouper %}
                    <th>{% trans "When" %}</th>
                  {% endif %}
                  <th>{% trans "Title" %}</th>
                  {% if not schedule_item.grouper %}
                    <th>{% trans "Where" %}</th>
                  {% endif %}
                  <th>{% trans "Volunteers" %}</th>
                  {% if not schedule_item.grouper %}
                    <th>{% trans "Category" %}</th>
                  {% endif %}
                </tr>

                {% for task in schedule_item.list %}
                  <tr>
                    {% if not schedule_item.grouper %}
                      <td>{{ task.start|time }} {% trans 'to' %} {{ task.end|time }}</td>
                    {% endif %}
                    <td>
                      <a href="{% url 'wafer_task' task.pk %}">{{ task.get_name }}</a>
                    </td>
                    {% if not schedule_item.grouper %}
                      <td>{{ task.get_venue }}</td>
                    {% endif %}
                    <td>{{ task.nbr_volunteers }}/{{ task.get_nbr_volunteers_max }}</td>
                    {% if not schedule_item.grouper %}
                      <td>
                        {% if task.get_category %}
                          {{ task.get_category }}
                        {% else %}
                          {% trans 'N/A' %}
                        {% endif %}
                      </td>
                    {% endif %}
                  </tr>
                {% endfor %}
              </thead>
            </table>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endfor %}
</div>
